:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-background-color: #f5f4fa;
  --background-color-hero: #2f303a;
  --header-bottom-line: #ececec;
  --color-card: #eeeeee;
  --border-link: #afb1b8;
  --icon-close: #000000;
  --background-color-buttons: #0b7ad5;
  --submit-button-shadow: rgba(0, 0, 0, 0.15);
  --footer-text-contacts: rgba(255, 255, 255, 0.6);
  --placeholder: rgba(117, 117, 117, 0.5);
  --form-border: rgba(33, 33, 33, 0.2);
  --card-set-gap: 30px;
  --padding-section: 94px;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Убрал точки в списке */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea:hover {
  border-color: var(--accent-color);
  transition: border var(--main-transition);
}

label {
  position: relative;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* Logo */
.link {
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  line-height: 1.19;
}

.first-part-logo {
  color: var(--accent-color);
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-line {
  border-bottom: 1px solid var(--header-bottom-line);
}
/* Site nav */

.site-nav {
  display: flex;
  margin: 32px 0 32px 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0px;
  left: 0;
}

/* Auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.icon-envelope {
  margin-right: 10px;
}

.link-icon {
  fill: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.link-icon:hover .icon-envelope {
  fill: var(--accent-color);
}

.icon-smartphone {
  margin-right: 10px;
}

.link-icon:hover .icon-smartphone {
  fill: var(--accent-color);
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition);
}
.auth-nav .contact-link:hover,
.auth-nav .contact-link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--background-color-hero);
  padding: 200px 0;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 40px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.primary-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}

.primary-button:hover {
  background-color: var(--background-color-buttons);
  transition: background-color var(--main-transition);
}

/* Section */

.section {
  padding: var(--padding-section) 0;
}

.section.no-padding {
  padding: 0 0 var(--padding-section);
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-background {
  background-color: var(--button-background-color);
}

.team-list .padding-card {
  padding: 30px 0;
}

.section-people {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Features */

.image-style {
  padding: 25px 0px;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  background-color: var(--button-background-color);
  border-radius: 4px;
}

.hidden-title {
  visibility: hidden;
  font-size: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list .item {
  width: 270px;
}

.features-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Work */

.work-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.work-thumb {
  position: relative;
  display: block;
}

.work-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  color: var(--primary-white-color);
  padding: 27px 0;
  line-height: 1.14em;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  font-style: 14px;
  font-weight: 700;
}

/* Team */

.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.team-list .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Social links team */

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--border-link);
  transition: background-color var(--main-transition),
    fill var(--main-transition);
}

.social-link:hover {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-list .social-item + .social-item {
  margin-left: 10px;
}

/* Clients */

.title-margin {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
}

.link-client {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--border-link);
  fill: var(--border-link);
  transition: fill var(--main-transition);
}

.link-client:hover {
  fill: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.client-list .client-item + .client-item {
  margin-left: 30px;
}

/* Footer */

.footer-background {
  background-color: var(--background-color-hero);
}

.footer-background .container {
  display: flex;
  align-items: baseline;
  padding: 60px 0;
}

.logo-white {
  color: var(--primary-white-color);
}

/* Footer nav */

.mail-footer {
  margin-top: 20px;
}

.footer-list .footer-item + .footer-item {
  padding-top: 10px;
}

.footer-background {
  background-color: var(--background-color-hero);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-contacts);
  transition: color var(--main-transition);
}

.footer-list .footer-contacts:hover,
.footer-list .footer-contacts:focus {
  color: var(--accent-color);
}

.removed-italics {
  font-style: normal;
}

/* Social footer */

.social-footer {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.social-item-footer {
  display: flex;
}

.social-list .social-item-footer + .social-item-footer {
  margin-left: 10px;
}

.social-link-footer {
  display: inline-flex;
  fill: var(--primary-white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover {
  background-color: var(--accent-color);
  transition: background-color var(--main-transition),
    border-radius var(--main-transition);
}

/* Mailing footer */

.mailing-footer {
  margin-left: auto;
}

.mailing-flex {
  display: flex;
}

.button-mailing {
  margin-left: 12px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.mailing-icon {
  margin-left: 10px;
}

.input-mailing {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-hero);
  color: var(--primary-white-color);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform var(--main-transition), opacity var(--main-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: tranform var(--main-transition);

  min-height: 581px;
  min-width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--icon-close);
  transition: fill var(--main-transition);
}

.icon-box:hover .icon-close,
.icon-box:focus .icon-close {
  fill: var(--accent-color);
}

.title {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
}

.item .input:focus,
.item .input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.form-field:focus-within > .icon-modal {
  fill: var(--accent-color);
  transition: fill var(--main-transition);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(12%);
  fill: var(--title-text-color);
}

.form-span {
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input {
  width: 100%;

  padding: 13px 20px 13px 42px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  transition: border var(--main-transition);
}

.comment {
  width: 448px;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
}

.comment:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: border var(--main-transition);
}

.span-accept {
  line-height: 1.71;
}

.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
  padding-left: 5px;
}

.border-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  transition: background-color var(--main-transition);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.label-list .label-modal-margin:not(:last-child) {
  margin-bottom: 10px;
}

.label-list .label-modal-margin:nth-last-child(2) {
  margin-bottom: 20px;
}

.checkbox:checked + .border-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--submit-button-shadow);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}

.submit-button:hover {
  background-color: var(--background-color-buttons);
  transition: background-color var(--main-transition);
}

.form-field textarea::placeholder {
  color: var(--placeholder);
}
/* portfolio */

.flex-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.flex-button .flex-button-list + .flex-button-list {
  margin-left: 8px;
}

.button-porfolio {
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--button-background-color);

  border: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  transition: color var(--main-transition),
    background-color var(--main-transition), box-shadow var(--main-transition);
}

.button-porfolio:focus,
.button-porfolio:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-porfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.site-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 0px;
}

.site-descriptions {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Card set */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  display: block;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--main-transition), opacity var(--main-transition);
}

.portfolio-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  opacity: 0;
  transition: opacity var(--main-transition) 250ms;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-link:hover .portfolio-actions,
.portfolio-link:focus .portfolio-actions {
  opacity: 1;
}

/* Card */

.card-content {
  padding: 20px 24px;
}

.card-text {
  margin-top: 4px;
}

.card-content {
  border-bottom: 1px solid var(--color-card);
  border-right: 1px solid var(--color-card);
  border-left: 1px solid var(--color-card);
}
