.auth-nav {
  display: flex;
  margin-left: auto;

  &__link-icon {
    fill: $primary-text-color;
    display: flex;
    align-items: center;

    &:hover .auth-nav__icon-envelope {
      fill: $accent-color;
    }

    &:hover .auth-nav__icon-smartphone {
      fill: $accent-color;
    }
  }

  &__icon-envelope {
    margin-right: 10px;
  }

  &__icon-smartphone {
    margin-right: 10px;
  }

  &__item:nth-child(-n + 2) {
    margin-left: 50px;
  }

  &__item:first-child {
    margin-left: 0px;
  }

  &__contact-link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $main-transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
