.title-margin {
  margin-bottom: 50px;
}
.client-list {
  display: flex;

  &__item:nth-child(-n + 6) {
    margin-left: 30px;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__link {
    display: block;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $border-link;
    fill: $border-link;
    transition: fill $main-transition;

    &:hover {
      fill: $accent-color;
      border: solid 1px $accent-color;
    }
  }
}
