.footer-container {
  display: flex;
  align-items: baseline;
  padding: 60px 0;
}

.footer-list {
  &__item:nth-child(-n + 3) {
    padding-top: 10px;
  }
  &__item:first-child {
    padding-top: 0;
  }
  &__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-text-contacts;
    transition: color $main-transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
